<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render '/user/users/index', users: @records %>
<% elsif @model == 'post' || @model == 'tag' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'user/posts/index', posts: @records %>
<% end %>